
<h1 class="sectionedit1" id="組員介紹">組員介紹</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> <a href="/doku.php?id=40123208_%E7%A8%8B%E5%8D%83%E8%82%B2" class="wikilink1" title="40123208_程千育">40123208 程千育</a></div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=c6a02a&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1501821_605477299525186_1325152117_n.jpg" class="media" title="http://python-40123209.rhcloud.com/downloads/1501821_605477299525186_1325152117_n.jpg"><img src="/lib/exe/fetch.php?w=500&amp;tok=1eb4f7&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1501821_605477299525186_1325152117_n.jpg" class="media" title="python-40123209.rhcloud.com_downloads_1501821_605477299525186_1325152117_n.jpg" alt="python-40123209.rhcloud.com_downloads_1501821_605477299525186_1325152117_n.jpg" width="500" /></a>
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php?id=40123209_%E5%8A%89%E5%87%B1%E7%9B%88" class="wikilink1" title="40123209_劉凱盈">40123209 劉凱盈</a></div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=0a157c&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1186202_234805980002964_1575567721_n.jpg" class="media" title="http://python-40123209.rhcloud.com/downloads/1186202_234805980002964_1575567721_n.jpg"><img src="/lib/exe/fetch.php?w=500&amp;tok=e22e36&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1186202_234805980002964_1575567721_n.jpg" class="media" title="python-40123209.rhcloud.com_downloads_1186202_234805980002964_1575567721_n.jpg" alt="python-40123209.rhcloud.com_downloads_1186202_234805980002964_1575567721_n.jpg" width="500" /></a>
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php?id=40123211_%E8%95%AD%E8%8E%89%E8%93%89" class="wikilink1" title="40123211_蕭莉蓉">40123211 蕭莉蓉</a></div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=719ff7&amp;media=https%3A%2F%2Ffirst-anselhsiao.rhcloud.com%2Fdownloads%2FSnapshot_20140314_1.JPG" class="media" title="https://first-anselhsiao.rhcloud.com/downloads/Snapshot_20140314_1.JPG"><img src="/lib/exe/fetch.php?w=500&amp;tok=ab2152&amp;media=https%3A%2F%2Ffirst-anselhsiao.rhcloud.com%2Fdownloads%2FSnapshot_20140314_1.JPG" class="media" title="first-anselhsiao.rhcloud.com_downloads_snapshot_20140314_1.jpg" alt="first-anselhsiao.rhcloud.com_downloads_snapshot_20140314_1.jpg" width="500" /></a>
</p>

</div>
