
<h1 class="sectionedit1" id="第五組">第五組</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "第五組" [1-22] -->
<h1 class="sectionedit2" id="section40123211">40123211</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> 第一周:介紹如何使用dokuwiki。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week1" class="wikilink2" title="協同產品設計:2014s_week1" rel="nofollow">2014s_week1</a><a href="/lib/exe/fetch.php?tok=8a426c&amp;media=http%3A%2F%2Fvimeo.com%2F87531218" class="media mediafile mf_com_87531218" title="http://vimeo.com/87531218">cd w1 1</a><a href="/lib/exe/fetch.php?tok=efe2c0&amp;media=http%3A%2F%2Fvimeo.com%2F87534543" class="media mediafile mf_com_87534543" title="http://vimeo.com/87534543">cd w1 2</a></div>
</li>
<li class="level1"><div class="li"> 第二周:使用mongoose和php建立遠端和近端dokuwiki網站，建立個人CMSimply內容管理網站，建立一個遠端同步程式倉儲。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week2" class="wikilink2" title="協同產品設計:2014s_week2" rel="nofollow">2014s_week2</a><a href="/lib/exe/fetch.php?tok=187a78&amp;media=http%3A%2F%2Fvimeo.com%2F88225866" class="media mediafile mf_com_88225866" title="http://vimeo.com/88225866">cd w2 b1</a><a href="/lib/exe/fetch.php?tok=09c367&amp;media=http%3A%2F%2Fvimeo.com%2F88229349" class="media mediafile mf_com_88229349" title="http://vimeo.com/88229349">cd w2 b2</a><a href="/lib/exe/fetch.php?tok=47752f&amp;media=http%3A%2F%2Fvimeo.com%2F88230051" class="media mediafile mf_com_88230051" title="http://vimeo.com/88230051">cd w2 b3</a></div>
</li>
<li class="level1"><div class="li"> 第三周:編輯網站，建立個人的頁面寫心得，使用smtp寄信，用Python3讀入txt檔名單，並給予大家密碼。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week3" class="wikilink2" title="協同產品設計:2014s_week3" rel="nofollow">2014s_week3</a><a href="/lib/exe/fetch.php?tok=3c63ce&amp;media=http%3A%2F%2Fvimeo.com%2F88847174" class="media mediafile mf_com_88847174" title="http://vimeo.com/88847174">cd w3 b1</a><a href="/lib/exe/fetch.php?tok=e7a99b&amp;media=http%3A%2F%2Fvimeo.com%2F88855247" class="media mediafile mf_com_88855247" title="http://vimeo.com/88855247">cd w3 b2</a></div>
</li>
<li class="level1"><div class="li"> 第四周:編輯dokuwiki頁面，進而用來展示資料(遠端圖片引用、遠端零件檔案引用、Python 程式碼引用、內部頁面引用、排序列表資料引用)</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week4" class="wikilink2" title="協同產品設計:2014s_week4" rel="nofollow">2014s_week4</a><a href="/lib/exe/fetch.php?tok=eb2f7d&amp;media=http%3A%2F%2Fvimeo.com%2F89371363" class="media mediafile mf_com_89371363" title="http://vimeo.com/89371363">cd w4 a1</a></div>
</li>
</ul>
<ol>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=9c4f18&amp;media=http%3A%2F%2Fvimeo.com%2Fuser24079973%2Fvideos" class="media mediafile mf_com_user24079973_videos" title="http://vimeo.com/user24079973/videos">Course Mde’s Videos</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=566de3&amp;media=http%3A%2F%2Ffirst-anselhsiao.rhcloud.com%2F" class="media mediafile mf_com_" title="http://first-anselhsiao.rhcloud.com/">My CMSimply</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=8bd5d0&amp;media=https%3A%2F%2Fbitbucket.org%2FAnselHsiao%2F2014s2b-40123211" class="media mediafile mf_org_anselhsiao_2014s2b-40123211" title="https://bitbucket.org/AnselHsiao/2014s2b-40123211">My bitbucket</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=7778d1&amp;media=http%3A%2F%2F192.168.1.79%3A8084" class="media mediafile mf_79_8084" title="http://192.168.1.79:8084">第五組dokuwiki</a></div>
</li>
</ol>

<p>
<a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123211:%E8%95%AD%E8%8E%89%E8%93%89" class="wikilink2" title="2014s2b:第五組:40123211:蕭莉蓉" rel="nofollow">蕭莉蓉</a>
</p>

<p>
<a href="/doku.php?id=playground:40123211pg" class="wikilink1" title="playground:40123211pg">40123211pg</a>
</p>

</div>
<!-- EDIT2 SECTION "40123211" [23-] -->