
<h1 class="sectionedit1" id="第五組-40123211">&lt;&lt;第五組-40123211&gt;&gt;</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "<<第五組-40123211>>" [1-36] -->
<h1 class="sectionedit2" id="壹_課程心得">壹、課程心得</h1>
<div class="level1">

</div>
<!-- EDIT2 SECTION "壹、課程心得" [37-67] -->
<h2 class="sectionedit3" id="第一周">第一周</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 介紹如何使用dokuwiki。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week1" class="wikilink2" title="協同產品設計:2014s_week1" rel="nofollow">2014s_week1</a><a href="/lib/exe/fetch.php?tok=8a426c&amp;media=http%3A%2F%2Fvimeo.com%2F87531218" class="media mediafile mf_com_87531218" title="http://vimeo.com/87531218">cd w1 1</a><a href="/lib/exe/fetch.php?tok=efe2c0&amp;media=http%3A%2F%2Fvimeo.com%2F87534543" class="media mediafile mf_com_87534543" title="http://vimeo.com/87534543">cd w1 2</a></div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "第一周" [68-236] -->
<h2 class="sectionedit4" id="第二周">第二周</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 使用mongoose和php建立遠端和近端dokuwiki網站，建立個人CMSimply內容管理網站，建立一個遠端同步程式倉儲。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week2" class="wikilink2" title="協同產品設計:2014s_week2" rel="nofollow">2014s_week2</a><a href="/lib/exe/fetch.php?tok=187a78&amp;media=http%3A%2F%2Fvimeo.com%2F88225866" class="media mediafile mf_com_88225866" title="http://vimeo.com/88225866">cd w2 b1</a><a href="/lib/exe/fetch.php?tok=09c367&amp;media=http%3A%2F%2Fvimeo.com%2F88229349" class="media mediafile mf_com_88229349" title="http://vimeo.com/88229349">cd w2 b2</a><a href="/lib/exe/fetch.php?tok=47752f&amp;media=http%3A%2F%2Fvimeo.com%2F88230051" class="media mediafile mf_com_88230051" title="http://vimeo.com/88230051">cd w2 b3</a></div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "第二周" [237-554] -->
<h2 class="sectionedit5" id="第三周">第三周</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 編輯網站，建立個人的頁面寫心得，使用smtp寄信，用Python3讀入txt檔名單，並給予大家密碼。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week3" class="wikilink2" title="協同產品設計:2014s_week3" rel="nofollow">2014s_week3</a><a href="/lib/exe/fetch.php?tok=3c63ce&amp;media=http%3A%2F%2Fvimeo.com%2F88847174" class="media mediafile mf_com_88847174" title="http://vimeo.com/88847174">cd w3 b1</a><a href="/lib/exe/fetch.php?tok=e7a99b&amp;media=http%3A%2F%2Fvimeo.com%2F88855247" class="media mediafile mf_com_88855247" title="http://vimeo.com/88855247">cd w3 b2</a></div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "第三周" [555-818] -->
<h2 class="sectionedit6" id="第四周">第四周</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 編輯dokuwiki頁面，建立<a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123211:myplayground" class="wikilink2" title="2014s2b:第五組:40123211:myplayground" rel="nofollow">MyPlayGround</a>，進而用來展示資料(遠端圖片引用、遠端零件檔案引用、Python 程式碼引用、內部頁面引用、排序列表資料引用)。透過修改local.php、users.auth.php、acl.auth.php，來更改個人的dokuwiki頁面。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week4" class="wikilink2" title="協同產品設計:2014s_week4" rel="nofollow">2014s_week4</a><a href="/lib/exe/fetch.php?tok=eb2f7d&amp;media=http%3A%2F%2Fvimeo.com%2F89371363" class="media mediafile mf_com_89371363" title="http://vimeo.com/89371363">cd w4 a1</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "第四周" [819-1235] -->
<h2 class="sectionedit7" id="第五周">第五周</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 看交學影片，嘗試將原本只能在近端的dokuwiki網站，送至遠端。</div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:2014s_week5" class="wikilink2" title="協同產品設計:2014s_week5" rel="nofollow">2014s_week5</a><a href="/lib/exe/fetch.php?tok=b13c08&amp;media=http%3A%2F%2Fvimeo.com%2F89979807" class="media mediafile mf_com_89979807" title="http://vimeo.com/89979807">cd w5 a1</a><a href="/lib/exe/fetch.php?tok=9598c4&amp;media=http%3A%2F%2Fvimeo.com%2F89980644" class="media mediafile mf_com_89980644" title="http://vimeo.com/89980644">cd w5 a2</a><a href="/lib/exe/fetch.php?tok=08db15&amp;media=http%3A%2F%2Fvimeo.com%2F89986371" class="media mediafile mf_com_89986371" title="http://vimeo.com/89986371">cd w5 a3</a><a href="/lib/exe/fetch.php?tok=c3a696&amp;media=http%3A%2F%2Fvimeo.com%2F90098081" class="media mediafile mf_com_90098081" title="http://vimeo.com/90098081">cd w5 b1</a></div>
</li>
</ul>
<hr />

</div>
<!-- EDIT7 SECTION "第五周" [1236-1543] -->
<h1 class="sectionedit8" id="貳_每周自我評分">貳、每周自我評分</h1>
<div class="level1">

</div>
<!-- EDIT8 SECTION "貳、每周自我評分" [1544-1580] -->
<h2 class="sectionedit9" id="第一週_第四週">第一週~第四週</h2>
<div class="level2">
<pre class="code">  90分</pre>

</div>
<!-- EDIT9 SECTION "第一週~第四週" [1581-1622] -->
<h2 class="sectionedit10" id="第五週">第五週</h2>
<div class="level2">
<pre class="code">  90分</pre>

</div>
<!-- EDIT10 SECTION "第五週" [1623-1654] -->
<h2 class="sectionedit11" id="第六週">第六週</h2>
<div class="level2">

</div>
<!-- EDIT11 SECTION "第六週" [1655-1677] -->
<h2 class="sectionedit12" id="第七週">第七週</h2>
<div class="level2">
<hr />

</div>
<!-- EDIT12 SECTION "第七週" [1678-1704] -->
<h1 class="sectionedit13" id="参_對外連結">参、對外連結</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=9c4f18&amp;media=http%3A%2F%2Fvimeo.com%2Fuser24079973%2Fvideos" class="media mediafile mf_com_user24079973_videos" title="http://vimeo.com/user24079973/videos">Course Mde’s Videos</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=566de3&amp;media=http%3A%2F%2Ffirst-anselhsiao.rhcloud.com%2F" class="media mediafile mf_com_" title="http://first-anselhsiao.rhcloud.com/">My CMSimply</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=8bd5d0&amp;media=https%3A%2F%2Fbitbucket.org%2FAnselHsiao%2F2014s2b-40123211" class="media mediafile mf_org_anselhsiao_2014s2b-40123211" title="https://bitbucket.org/AnselHsiao/2014s2b-40123211">My bitbucket</a></div>
</li>
<li class="level1"><div class="li"> <a href="/lib/exe/fetch.php?tok=388814&amp;media=http%3A%2F%2F192.168.1.102%3A8000" class="media mediafile mf_102_8000" title="http://192.168.1.102:8000">第五組dokuwiki</a></div>
</li>
</ol>
<hr />

</div>
<!-- EDIT13 SECTION "参、對外連結" [1705-1989] -->
<h1 class="sectionedit14" id="肆_對內連結">肆、對內連結</h1>
<div class="level1">

</div>
<!-- EDIT14 SECTION "肆、對內連結" [1990-2022] -->
<h2 class="sectionedit15" id="組員">組員</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> 程千育<a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123208" class="wikilink2" title="2014s2b:第五組:40123208" rel="nofollow">40123208</a></div>
</li>
<li class="level1"><div class="li"> 劉凱盈<a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123209" class="wikilink2" title="2014s2b:第五組:40123209" rel="nofollow">40123209</a></div>
</li>
<li class="level1"><div class="li"> 蕭莉蓉<a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123211" class="wikilink2" title="2014s2b:第五組:40123211" rel="nofollow">40123211</a></div>
</li>
</ol>

</div>
<!-- EDIT15 SECTION "組員" [2023-2173] -->
<h2 class="sectionedit16" id="個人">個人</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> <a href="/doku.php?id=2014s2b:%E7%AC%AC%E4%BA%94%E7%B5%84:40123211:myplayground" class="wikilink2" title="2014s2b:第五組:40123211:myplayground" rel="nofollow">MyPlayGround</a></div>
</li>
</ol>

</div>
<!-- EDIT16 SECTION "個人" [2174-] -->