
<h1 class="sectionedit1" id="組員介紹">組員介紹</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> 40123208 程千育</div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=c6a02a&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1501821_605477299525186_1325152117_n.jpg" class="media" title="http://python-40123209.rhcloud.com/downloads/1501821_605477299525186_1325152117_n.jpg"><img src="/lib/exe/fetch.php?tok=c6a02a&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1501821_605477299525186_1325152117_n.jpg" class="media" title="python-40123209.rhcloud.com_downloads_1501821_605477299525186_1325152117_n.jpg" alt="python-40123209.rhcloud.com_downloads_1501821_605477299525186_1325152117_n.jpg" /></a>
</p>
<ol>
<li class="level1"><div class="li"> 40123209 劉凱盈</div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=0a157c&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1186202_234805980002964_1575567721_n.jpg" class="media" title="http://python-40123209.rhcloud.com/downloads/1186202_234805980002964_1575567721_n.jpg"><img src="/lib/exe/fetch.php?tok=0a157c&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1186202_234805980002964_1575567721_n.jpg" class="media" title="python-40123209.rhcloud.com_downloads_1186202_234805980002964_1575567721_n.jpg" alt="python-40123209.rhcloud.com_downloads_1186202_234805980002964_1575567721_n.jpg" /></a>
</p>
<ol>
<li class="level1"><div class="li"> 40123211 蕭莉蓉</div>
</li>
</ol>

<p>
<a href="/lib/exe/fetch.php?tok=cd679b&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1472888_659057594138310_1654141301_n.jpg" class="media" title="http://python-40123209.rhcloud.com/downloads/1472888_659057594138310_1654141301_n.jpg"><img src="/lib/exe/fetch.php?tok=cd679b&amp;media=http%3A%2F%2Fpython-40123209.rhcloud.com%2Fdownloads%2F1472888_659057594138310_1654141301_n.jpg" class="media" title="python-40123209.rhcloud.com_downloads_1472888_659057594138310_1654141301_n.jpg" alt="python-40123209.rhcloud.com_downloads_1472888_659057594138310_1654141301_n.jpg" /></a>
</p>

</div>
